{% extends "base.html" %} {% block content %}
<form action="/countries/{{country.id}}/update" method="post">
  <div>
    <label for="update_country">Country:</label>
    <input
      type="text"
      name="update_country"
      id="update_country"
      value="{{country.name}}"
      required
      autofocus
    />
  </div>
  <div>
    <label for="update_continent">Continent:</label>
    <input
      type="text"
      name="update_continent"
      id="update_continent"
      value="{{country.continent}}"
      placeholder="Enter Country"
      required
    />
  </div>
  <div>
    <label for="update_population">Population:</label>
    <input
      type="number"
      min="0"
      name="update_population"
      id="update_population"
      value="{{country.population}}"
      placeholder="Enter Population"
      required
    />
  </div>
  <div><button type="submit">Update</button></div>
</form>
{% endblock %}