{% extends "base.html" %}
{% block content %}
<form action="/countries/new"><button type="submit" class="add-btn"><i class="fa-solid fa-plus fa-lg"></i></button></form>
{%if countries|length > 0 %}
<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Continent</th>
      <th class="hide-population">Population</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
    <tr onclick="window.location='/cities/{{country.id}}'">
      <td>{{country.name}}</td>
      <td>{{country.continent}}</td>
      <td class="hide-population">{{"{:,}".format(country.population)}}</td>
      <td>
        <form action="/countries/{{country.id}}/edit" method="post"
          ><button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square fa-lg"></i></button
        ></form>
      </td>
      <td>
        <form action="/countries/{{country.id}}/delete" method="post">
          <button type="submit" class="delete-btn"><i class="fa-solid fa-trash fa-lg"></i></button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="no-entries">
  <h2>No country entries.</h2>
</div>
{% endif %}
{% endblock %}