{% extends "base.html" %}
{% block content %}
<form action="/countries/new"><button type="submit" class="add-btn"><i class="fa-solid fa-plus"></i></button></form>
<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Continent</th>
      <th>Population</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
    <tr onclick="window.location='/cities/{{country.id}}'">
      <td>{{country.name}}</td>
      <td>{{country.continent}}</td>
      <td>{{country.population}}</td>
      <td>
        <form action="/countries/{{country.id}}/edit" method="post"
          ><button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button
        ></form>
      </td>
      <td>
        <form action="/countries/{{country.id}}/delete" method="post">
          <button type="submit" class="delete-btn"><i class="fa-solid fa-trash"></i></button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}