{% extends "base.html" %}
{% block content %}
<form action="/countries" method="post">
    <div>
      <label for="country">Country:</label>
      <input
        type="text"
        name="country"
        id="country"
        placeholder="Country"
        required
        autofocus
      />
    </div>
    <div>
      <label for="continent">Continent:</label>
      <input
        type="text"
        name="continent"
        id="continent"
        placeholder="Continent"
        required
      />
    </div>
    <div>
        <label for="population">population:</label>
        <input
          type="number"
          name="population"
          id="population"
          placeholder="Population"
          required
        />
      </div>
    <div><button type="submit"><i class="fa-solid fa-plus"></i></button></div>
  </form>
{% endblock %}