{% extends "base.html" %} {% block content %}
<form action="/countries" method="post">
  <h2>Add Country</h2>
  <div>
    <label for="country">Country:</label>
    <input
      type="text"
      name="country"
      id="country"
      placeholder="Enter Country"
      required
      autofocus
    />
  </div>
  <div>
    <label for="continent">Continent:</label>
    <select name="continent" id="continent" required>
        {% for continent in continents %}
        <option value="{{continent}}">{{continent}}</option>
        {% endfor %}
    </select>
  </div>
  <div>
    <label for="population">population:</label>
    <input
      type="number"
      name="population"
      id="population"
      placeholder="Enter Population"
      required
    />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
