{% extends "base.html" %} {% block content %}

<form action="/cities/{{country.id}}/new">
  <button type="submit" class="add-btn"><i class="fa-solid fa-plus fa-lg"></i></button>
</form>
{% if cities|length > 0 %}
<h1 class="header-name">{{country.name}}</h1>
<table>
  <thead>
    <tr>
      <th>City&nbsp;&nbsp;<i onclick="window.location='/countries/filter_by_population'" class="fa-solid fa-angle-up"></i>&nbsp;<i onclick="window.location='/countries/filter_by_population_down'" class="fa-solid fa-angle-down"></i></th>
      <th class="cell-btn">Edit</th>
      <th class="cell-btn">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for city in cities %}

    <tr onclick="window.location='/sights/{{city.id}}'">
      <td>{{city.name}}</td>
      <td class="cell-btn">
        <form action="/cities/{{country.id}}/{{city.id}}/edit">
          <button type="submit" class="edit-btn">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          </button>
        </form>
      </td>
      <td class="cell-btn">
        <form action="/cities/{{country.id}}/{{city.id}}/delete" method="post">
          <button type="submit" class="delete-btn">
            <i class="fa-solid fa-trash fa-lg"></i>
          </button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="no-entries">
  <h2>{{country.name}} has no city entries.</h2>
</div>
{% endif %}

{% endblock %}
