{% extends "base.html" %} {% block content %}
<h1 class="header-name">{{country.name}}</h1>
<form action="/cities/{{country.id}}/new">
  <button type="submit" class="add-btn"><i class="fa-solid fa-plus fa-lg"></i></button>
</form>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for city in cities %}

    <tr onclick="window.location='/sights/{{city.id}}'">
      <td>{{city.name}}</td>
      <td>
        <form action="/cities/{{country.id}}/{{city.id}}/edit">
          <button type="submit" class="edit-btn">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          </button>
        </form>
      </td>
      <td>
        <form action="/cities/{{country.id}}/{{city.id}}/delete" method="post">
          <button type="submit" class="delete-btn">
            <i class="fa-solid fa-trash fa-lg"></i>
          </button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
