{% extends "base.html" %} {% block content %}
<h1 class="header-name">{{city.name}}</h1>
<form action="/sights/{{city.id}}/new">
  <button type="submit" class="add-btn"><i class="fa-solid fa-plus"></i></button>
</form>

<table>
  <thead>
    <tr>
      <th>Sight / Attraction</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for sight in sights %}

    <tr >
      <td>{{sight.name}}</a></td>
      <td>
        <form action="/sights/{{city.id}}/{{sight.id}}/edit" method="post">
          <button type="submit" class="edit-btn">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </form>
      </td>
      <td>
        <form action="/sights/{{city.id}}/{{sight.id}}delete" method="post">
          <button type="submit" class="delete-btn">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
