{% extends "base.html" %} {% block content %}

<form action="/sights/{{city.id}}/new">
  <button type="submit" class="add-btn"><i class="fa-solid fa-plus fa-lg"></i></button>
</form>
{% if sights|length > 0 %}
<h1 class="header-name">{{city.name}} Sights & Attractions</h1>
<table>
  <thead>
    <tr>
      <th>Sight / Attraction</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for sight in sights %}

    <tr >
      <td>{{sight.name}}</a></td>
      <td>
        <form action="/sights/{{city.id}}/{{sight.id}}/edit" method="post">
          <button type="submit" class="edit-btn">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          </button>
        </form>
      </td>
      <td>
        <form action="/sights/{{city.id}}/{{sight.id}}/delete" method="post">
          <button type="submit" class="delete-btn">
            <i class="fa-solid fa-trash fa-lg"></i>
          </button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="no-entries">
  <h2>{{city.name}} has no sight entries.</h2>
</div>
{% endif %}
{% endblock %}
