{% extends "base.html" %} {% block content %}
<form action="/visits/{{user.id}}/new">
  <button type="submit" class="add-btn">
    <i class="fa-solid fa-plus"></i>
  </button>
</form>

{% if visits|length > 0 %}
<h2 class="bucket-list-header">
  {{user.first_name}} {{user.last_name}}'s Bucket List
</h2>
<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Been Before?</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for visit in visits %}
    <tr onclick="window.location='/sights/{{visit.city_id}}'">
      <td>{{visit.city_name}}</td>
      {% if visit.visited == True %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
      <td>
        <form
          action="/visits/{{visit.visit_id}}/{{user.id}}/delete"
          method="post"
        >
          <button type="submit" class="delete-btn">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="no-entries">
  <h2>You have no Bucket List entries, {{user.first_name}}.</h2>
</div>
{% endif %} {% endblock %}
