{% extends "base.html" %} {% block content %}

<form action="/visits" method="post">
  <h2>Add a destination, {{user.first_name}}</h2>
  <div>
    <label for="user">User:</label>
    <select name="user" id="user_visit">
      <option value="{{user.id}}">
        {{user.first_name}} {{user.last_name}}
      </option>
    </select>
  </div>
  <div>
    <label for="city">City:</label>
    <select name="city" id="city_visit">
      <option disabled selected>Select a city</option>
      {% for city in cities %}
      <option value="{{city.id}}">{{city.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="visited">Been Before?</label>
    <select name="visited" id="visited">
      <option disabled selected>Please select</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
