@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");

* {
  font-family: "Unbounded", cursive;
}

header > a > h1 {
  text-align: center;
  background-image: linear-gradient(to right, #9cdbc4, rgb(215, 215, 136));
  margin-left: 100px;
  margin-right: 100px;
  padding: 15px;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

header > a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  height: 50px;
  margin-bottom: 12px;
  background-color: white;
}

.nav > form > button {
  width: 130px;
  background-image: linear-gradient(to right, #9cdbc4, rgb(215, 215, 136));
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.nav > form > button:hover {
  background-image: linear-gradient(to left, #9cdbc4, rgb(215, 215, 136));

}

#homepage-img {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-self: unset;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 83, 83);
  color: white;
  height: 100px;
}

footer > h3 {
  text-align: center;
}

#footer-logo {
  margin-bottom: 0;
}
.header-name {
  text-align: center;
}

table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #efebeb;
}

table tr:hover {
  background-image: linear-gradient(to left, #9cdbc4, rgb(215, 215, 136));
  cursor: pointer;
}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #669d88;
  color: white;
}

form > h2 {
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  box-shadow: inset;
  border: 1px solid rgb(225, 217, 217);
  color: white;
  background-color: #30b786;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

button:hover {
  background-color: #149a69;
}
.add-btn {
  position: absolute;
  color: white;
  background-color: rgb(79, 147, 214);
  top: 0px;
  width: 55px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.add-btn:hover {
  background-color: rgb(58, 123, 226);
}
.edit-btn {
  color: white;
  background-color: rgb(237, 194, 107);
}
.edit-btn:hover {
  background-color: rgb(216, 140, 0);
}

.delete-btn {
  color: rgb(255, 255, 255);
  background-color: rgb(167, 95, 95);
}

.delete-btn:hover {
  background-color: rgb(185, 59, 59);
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
