{% extends "base.html" %} {% block content %}
<form action="/users/new"><button type="submit" class="add-btn"><i class="fa-solid fa-plus"></i></button></form>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr onclick="window.location='/visits/{{user.id}}'">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>
        <form action="/users/{{user.id}}/edit" method="post"
          ><button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button
        ></form>
      </td>
      <td class="button-cell">
        <form action="/users/{{user.id}}/delete" method="post">
          <button type="submit" class="delete-btn"><i class="fa-solid fa-trash"></i></button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}